@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./font/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Outfit';
  src: url('font/Outfit-Light.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Outfit';
  src: url('./font/Outfit-Regular.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Outfit';
  src: url('./font/Outfit-Medium.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Outfit';
  src: url('./font/Outfit-SemiBold.woff') format('woff');
  font-weight: 700;
}

:root{
  --light: #bae2f8;
  --blue: #0097e0;
  --dark-blue: #016ff6;
  --back: #03121a;
  --back2: #1d3039;
  --light-txt: #989c9e;
  --light-back: #fbfbfb;
  --pink: #ff0055;
  --yellow: #ffd542;
  --mint: #31f7c8;
  --sky: #61c6ff;
  --background: #f0f0f0;
  --light-gray: #eaeaea;
  --gray: #acacac;
  --dark-gray: #7d7d7d;
  --dark-gray2: #616161;
  --solid: #e0e0e0;
}

*{
  font-family: 'Outfit', 'Pretendard';
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-family: 'Outfit', 'Pretendard';
  color: var(--back);
}
a{
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.abtn{
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  background: var(--gray);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.25s;
}
.abtn:hover{
  background: var(--dark-gray);
}
h2, h3, h4, h5, ul, li, p{
  margin: 0;
  padding: 0;
}
h2, h3, h4, h5, span{
  text-transform: capitalize;
}
ul{list-style: none;}
h2{
  font-size: 52px;
  line-height: 72px;
}
h3{
  font-size: 42px;
  line-height: 62px;
}
h4{
  font-size: 30px;
  font-weight: 600;
}
h5{
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}
p{
  font-size: 16px;
  line-height: 30px;
}
button{
  font-family: 'Outfit', 'Pretendard';
  font-size: 16px;
  font-weight: 500;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background: var(--blue);
  color: #fff;
  transition: 0.25s;
  cursor: pointer;
}
button:hover{
  background: var(--dark-blue);
}
.small{
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
}
.login{
  font-size: 16px;
  padding: 10px 20px;
  background: none;
  border: 1.5px solid var(--blue);
  color: var(--main);
  border-radius: 10px;
}
.login:hover{
  background: var(--blue);
  color: #fff;
}
.wrap{
  width: 100%;
  overflow: auto;
}
.wrap.noScroll{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.content{
  margin: 120px 0 0 380px;
  padding-right: 80px;
  white-space: pre-line;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
  transform: translateY(0);
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}


/* 
========================================
================== nav =================
========================================
*/

header{
  display: flex;
  justify-content: space-between;
}
header .leftMenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid var(--solid);
  padding-top: 80px;
  z-index: 99;
}
header .rightMenu .logo{
  margin: 5px 25px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--blue);
}
header .rightMenu .logo img{
  width: 25px;
  margin-right: 10px;
}
header .leftMenu li{
  width: 100%;
  height: 25px;
  transition: 0.25s;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
}
header .leftMenu li.active p{
  color: var(--blue);
}
header .leftMenu li:hover p{
  color: var(--blue);
}
header .leftMenu li a{
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
header .leftMenu li p{
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 15px;
  transition: 0.25s;
}
header .leftMenu li button{
  width: 100%;
}
header .leftMenu .lang{
  position: absolute;
  bottom: 30px;
  left: 35px;
  color: var(--dark-gray);
  font-weight: 500;
  cursor: pointer;
}
header .leftMenu .lang .title{
  display: flex;
  align-items: center;
  transition: 0.25s;
}
header .leftMenu .lang .title:hover{
  color: var(--blue);
}
header .leftMenu .lang i{
  margin-right: 10px;
}
header .leftMenu .lang .langPop{
  padding: 15px 25px;
  border-radius: 10px;
  background: var(--background);
  position: absolute;
  bottom: 130%;
  left: 0;
}
header .leftMenu .lang .langPop p{
  transition: 0.25s;
  color: var(--dark-gray);
}
header .leftMenu .lang .langPop p:hover{
  color: var(--blue);
}
header .leftMenu .lang .langPop p.active{
  color: var(--blue);
}

.rightMenu{
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--solid);
  z-index: 999;
}
.rightMenu li{
  display: flex;
  padding: 10px 10px;
}
.rightMenu li span{
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}
.rightMenu p{
  padding: 0 20px;
}
.leftMenu .pikavue span{
  display: block;
  color: var(--gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  margin-left: 25px;
  transition: 0.25s;
  cursor: pointer;
}
.leftMenu .pikavue span.active{
  color: var(--blue);
}
.leftMenu .pikavue span:hover{
  color: var(--blue);
}
.mobileMenu{
  display: none;
}


/* 
========================================
================== 공통 ================
========================================
*/

.content{
  padding-bottom: 80px;
}
.content h4{
  margin: 50px 0 30px;
}
.content img{
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}
.content .imgs{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.content .imgs img{
  width: 48.4%;
}
.content #btn{
  width: auto;
  height: 60px;
  border-radius: 10px;
  margin-right: 20px;
}
.content #img{
  width: 330px;
  box-shadow: 0 10px 10px #7272722a;
}
.content b{
  background: var(--light);
  color: var(--blue);
  font-weight: 600;
  padding: 1px 5px 2px;
  border-radius: 5px;
}
.content .solid{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--solid);
  margin-top: 50px;
}
.content .pbr{
  margin-bottom: 30px;
}


/* 
========================================
================ mobile ================
========================================
*/

@media all and (max-width:479px){
  h2{
    font-size: 40px;
    line-height: 60px;
  }
  h3{
    font-size: 30px;
    line-height: 50px;
  }
  h4{
    font-size: 24px;
    line-height: 44px;
    font-weight: 600;
  }
  h5{
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
  }
  p{
    font-size: 14px;
    line-height: 24px;
  }
  button{
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: var(--blue);
    color: #fff;
    transition: 0.25s;
    cursor: pointer;
  }
  button:hover{
    background: var(--dark-blue);
  }
  .small{
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .login{
    font-size: 14px;
    padding: 10px 20px;
    background: none;
    border: 1.5px solid var(--blue);
    color: var(--main);
    border-radius: 10px;
  }
  .login:hover{
    background: var(--blue);
    color: #fff;
  }
  .wrap{
    width: 100%;
    overflow: auto;
  }
  .wrap.noScroll{
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .content{
    margin: 100px 20px 20px;
    padding-right: 0;
  }
  
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.25s ease;
  }
  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
  
  
  /* 
  ========================================
  ================== nav =================
  ========================================
  */
  
  header{
    display: flex;
    justify-content: space-between;
  }
  header .leftMenu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid var(--solid);
    padding-top: 80px;
    z-index: 99;
  }
  header .rightMenu{
    display: none;
  }
  header .rightMenu .logo{
    margin: 5px 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--blue);
  }
  header .rightMenu .logo img{
    width: 25px;
    margin-right: 10px;
  }
  header .leftMenu li{
    width: 100%;
    height: 25px;
    transition: 0.25s;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    position: relative;
  }
  header .leftMenu li.active p{
    color: var(--blue);
  }
  header .leftMenu li:hover p{
    color: var(--blue);
  }
  header .leftMenu li a{
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  header .leftMenu li p{
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 15px;
    transition: 0.25s;
  }
  header .leftMenu li button{
    width: 100%;
  }
  header .leftMenu .lang{
    position: absolute;
    bottom: 30px;
    left: 35px;
    color: var(--dark-gray);
    font-weight: 500;
    cursor: pointer;
  }
  header .leftMenu .lang .title{
    display: flex;
    align-items: center;
    transition: 0.25s;
  }
  header .leftMenu .lang .title:hover{
    color: var(--blue);
  }
  header .leftMenu .lang i{
    margin-right: 10px;
  }
  header .leftMenu .lang .langPop{
    padding: 15px 25px;
    border-radius: 10px;
    background: var(--background);
    position: absolute;
    bottom: 130%;
    left: 0;
  }
  header .leftMenu .lang .langPop p{
    transition: 0.25s;
    color: var(--dark-gray);
  }
  header .leftMenu .lang .langPop p:hover{
    color: var(--blue);
  }
  header .leftMenu .lang .langPop p.active{
    color: var(--blue);
  }
  
  .rightMenu{
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--solid);
    z-index: 999;
  }
  .rightMenu li{
    display: flex;
    padding: 10px 10px;
  }
  .rightMenu li span{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
  }
  .rightMenu p{
    padding: 0 20px;
  }
  .leftMenu .pikavue span{
    display: block;
    color: var(--gray);
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    margin-left: 25px;
    transition: 0.25s;
    cursor: pointer;
  }
  .leftMenu .pikavue span:hover{
    color: var(--blue);
  }
  .mobileMenu{
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .mobileMenu .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ffffff8c;
    backdrop-filter: blur(5px);
  }
  .mobileMenu .logo p{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--blue);
  }
  .mobileMenu .logo i{
    font-size: 20px;
    color: var(--blue);
  }
  .mobileMenu .logo .back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    font-size: 25px;
    font-weight: 400;
  }
  .mobileMenu .logo img{
    width: 20px;
    margin-right: 10px;
  }
  .mobileMenu ul{
    width: 100%;
    background: var(--background);
    padding: 20px;
    transition: 0.25s;
  }
  .mobileMenu ul li p{
    color: var(--back);
    font-size: 16px;
    line-height: 35px;
  }
  .mobileMenu ul .bottomMenu{
    display: flex;
    margin-top: 20px;
  }
  .mobileMenu ul .bottomMenu p{
    border: 1.5px solid var(--gray);
    border-radius: 10px;
    padding: 2px 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    font-weight: 500;
  }
  
  
  /* 
  ========================================
  ================== 공통 ================
  ========================================
  */
  
  .content{
    padding-bottom: 80px;
  }
  .content h4{
    margin: 50px 0 30px;
  }
  .content img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .content .imgs{
    display: block;
    justify-content: space-between;
    margin-top: 30px;
  }
  .content .imgs img{
    display: block;
    width: 100%;
  }
  .content #btn{
    width: auto;
    height: 60px;
    border-radius: 10px;
    margin-right: 20px;
  }
  .content #img{
    width: 330px;
    box-shadow: 0 10px 10px #7272722a;
  }
  .content b{
    background: var(--light);
    color: var(--blue);
    font-weight: 600;
    padding: 1px 5px 2px;
    border-radius: 5px;
  }
  .content .solid{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--solid);
    margin-top: 50px;
  }
  .content .pbr{
    margin-bottom: 30px;
  }
}